.NavBar-Wrapper {
  background-color: #a864a8;
  height: 120px;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  font-size: 14px;
  }
  
  .Cart-Info {
      background-color: #fff;
    position: relative;
  }
  
  .Cart-Item-Counter {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #a864a8;
    font-size: 9px;
    line-height: 14px;
    top: -5px;
    left: 13px;
  }

  .navbutton{
    border-radius: 4px;
    background-color: #7b1aa1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .navbutton span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.navbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

  .navbutton:hover span{
    padding-right: 25px;
  }


.navbutton:hover span:after {
  opacity: 1;
  right: 0;
}
  .Cart-Info:hover{
    background-color: blueviolet;
    transform: scale(1.1);
}